
 <div class="jubotron  mx-3 my-3"  >
     <h1 class="display-4">Corona Covid-19 Tracker</h1>
     <hr>
   
     <div class="ui inverted dimmer" [class.active]='loading'>
      <div class="ui text loader">Loading</div>
  </div>

      <app-dashbord-card   *ngIf="!loading"
       [totalRecoverd]='totalRecoverd'
       [totalConfirmed]='totalConfirmed'
       [totalDeath]='totalDeath'
       [totalActive]='totalActive' >
      </app-dashbord-card>
    </div>
<hr>
 <div class="ui form mx-3 my-3">
  <div class="inline fields">
   <label class="pl-2 pr-2 h5" > Select Case Type:</label> 
   
        <input type="radio"  #c  (click)="updateChart(c)" name="caseType" id="c" value="c" checked="" tabindex="0" class="hidden" value="{{totalConfirmed}}">
        <label for="c" class="pl-2 pr-2 h6"   > Confirmed</label>
        <input type="radio"  #r (click)="updateChart(r)" name="caseType"  id="r"  value="r" tabindex="0" class="hidden">
        <label for="r" class="pl-2 pr-2 h6"   >  Recovered</label>
         <input type="radio"  #d (click)="updateChart(d)" name="caseType" id="d"  value="d" tabindex="0" class="hidden">
         <label for="d" class="pl-2 pr-2 h6"  >   Deaths</label>
         <input type="radio" #a (click)="updateChart(a)" name="caseType" id="a"  value="a" tabindex="0" class="hidden">
         <label for="a" class="pl-2 pr-2 h6">Active</label>
         
        
    </div>
   
  <div class="row">
    
    <div class="  col-sm-12" id="curve_chart"  ></div>
    <div class="  col-sm-12" id="pie_chart"  ></div> 
 
 
 </div> 
