.loader{
    height: 10px;
    width: 10px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 0px;
   display: inline-block;
   animation: display 6s infinite;
 
}

.loading{
 
 animation: displayColor 6s infinite;
}

 @keyframes display{
    0%{
       background-color: white;
    }
    25%{
        background-color:rgb(228, 226, 226) ;
    }
    50%{
        background-color: white;
    }
    75%{
        background-color:rgb(228, 226, 226);
    }
    100%{
        background-color: white;
    }
}
@keyframes displayColor{
    0%{
       color: white;
    }
    25%{
        color:rgb(228, 226, 226);
    }
    50%{
        color: white;
    }
    75%{
        color:rgb(228, 226, 226);
    }
    100%{
        color: white;
    }
}