<div class="row justify-content-center ">
    <div class="card col cols-sm-6 p-3 m-3 " >
       <div class="ui statistic ">
           <div class="label">
          <h3> Confirmed</h3>
           </div>
           <div class="value">
           <h1>  {{totalConfirmed}}</h1>
           </div>
         </div>
    </div>
    <div class="card col cols-sm-6 p-3 m-3 "  >
       <div class="ui statistic  ">
           <div class="label">
           <h3> Recovered</h3>
           </div>
           <div class="value">
          <h1>  {{totalRecoverd}}</h1>
           </div>
         </div>
    </div>
    <div class="card col cols-sm-6 p-3 m-3"   >     
      <div class="ui statistic text-center ">
          <div class="label">
            <h3>Deaths</h3>
          </div>
          <div class="value">
          <h1> {{totalDeath}}</h1>
          </div>
        </div>
   </div>
    <div class="card col cols-sm-6 p-3 m-3"   >     
       <div class="ui statistic text-center ">
           <div class="label">
             <h3>Active</h3>
           </div>
           <div class="value">
           <h1> {{totalActive}}</h1>
           </div>
         </div>
    </div>
 </div>